@font-face {
  font-family: 'josefin';
  src: url("../fonts/JosefinSans-Regular.ttf"), url("../fonts/JosefinSans-Bold.ttf"); }
.main__subheading {
  display: inline-block;
  margin: 40px auto;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #a0af97;
  border-bottom: 3px dashed #edc67e; }

@media (max-width: 800px) {
  .main__subheading {
    margin: 20px 0; } }
@-webkit-keyframes quickzoom {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes nudge {
  0% {
    -webkit-transform: translateY(7px); }
  /*50% {
  	-webkit-transform: translateY(px);
  }*/
  100% {
    -webkit-transform: translateY(0px); } }
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(-10deg); } }
.header__content {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }

h1 {
  background-color: #fefefe;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 0.15em;
  font-size: 30px;
  font-weight: 700;
  color: #a0af97; }

.header__social-icons {
  position: absolute;
  top: 20px;
  left: 20px; }

.header__social-icons a {
  margin: 0 20px 0 0; }

.header__shop-icon {
  position: absolute;
  top: 20px;
  right: 20px; }

.header__content--shop h1 {
  background-color: #F9F8F8;
  padding: 20px 0 20px 0; }

.header__content a, .header__content--shop a {
  text-decoration: none; }

.instagram__stroke--scroll, .twitter__stroke--scroll {
  fill: #edc67e; }

.header__content--scroll {
  border-bottom: 3px solid #ece9e9;
  background-color: #f4f4f4; }

.header__icons--scroll {
  -webkit-animation: nudge 0.7s; }

@media (max-width: 1050px) {
  .header__content {
    position: static; }

  .header__content--scroll {
    border-bottom: 0; } }
@media (max-width: 800px) {
  .header__social-icons svg, .header__shop-icon svg {
    width: 25px; } }
@media (max-width: 600px) {
  .header__social-icons, .header__shop-icon {
    display: none; } }
.navigation {
  margin: 75px 0 0 0;
  text-align: center; }

.navigation a {
  text-decoration: none;
  margin: 0 50px 0 50px; }

.main__navigation {
  background-color: #f9f8f8;
  padding: 20px 0 20px 0; }

.main__navigation a {
  display: inline-block;
  font-size: 18px;
  color: #797878;
  border-bottom: 3px solid #f9f8f8;
  transition: all 0.1s; }

.main__navigation a:hover {
  border-bottom: 3px solid #edc67e; }

.main__navigation--shop {
  width: 300px;
  position: absolute;
  top: -90px;
  right: 80px; }

.main__navigation--shop a {
  margin: 0 30px; }

.accessories__navigation {
  margin: 30px 0 0 0;
  border-bottom: 3px solid #edc67e; }

.accessories__link, .shop__other {
  font-size: 14px;
  color: #a0af97;
  text-transform: uppercase;
  transition: all 0.4s; }

.accessories__link:hover, .shop__other:hover, .selected {
  color: #edc67e; }

.shop__other {
  float: right;
  font-weight: 700; }

@media (max-width: 1050px) {
  .navigation {
    margin-top: 0; }

  .accessories__navigation {
    margin-top: 30px; }

  .main__navigation--shop {
    display: none; } }
@media (max-width: 950px) {
  .accessories__navigation {
    margin-top: 0; }

  .accessories__navigation a {
    display: block;
    padding: 20px 0;
    margin: 0; }

  .shop__other {
    float: none; } }
@media (max-width: 800px) {
  .main__navigation {
    padding: 0; }

  .main__navigation a {
    display: block;
    margin: 0;
    padding: 20px 0;
    border: none; }

  .main__navigation a:hover {
    background-color: #f0f0f0;
    border: none; } }
.feature__content {
  height: 400px; }

.feature__img {
  height: 100%;
  background: url(../images/pic.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }

@media (max-width: 1050px) {
  .feature__img {
    background-attachment: scroll; } }
@media (max-width: 800px) {
  .feature__img {
    background-position: right; } }
.mailing__join-message {
  height: 60px;
  border-bottom: 3px solid #98AE99;
  border-top: 3px solid #ECE9E9;
  text-align: center; }

.mailing__join-text {
  line-height: 60px;
  color: #797878;
  font-size: 20px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.3s; }

.mailing__join-text:hover, .mailing__join-text--clicked {
  color: #a0af97; }

.mailing__form {
  height: 110px;
  background-color: #f9f8f8;
  padding: 40px 0 0 0;
  border-bottom: 3px solid #a0af97;
  text-align: center;
  display: none; }

.mailing__form input[type="email"] {
  width: 400px;
  padding: 5px;
  background-color: #ffffff;
  border: 3px solid #a0af97;
  color: #797878;
  transition: all 0.2s; }

.mailing__form input[type="email"]:focus, input[type="submit"]:focus {
  outline: 0;
  border-color: #edc67e;
  -webkit-appearance: none; }

.mailing__form input[type="submit"] {
  background-color: #a0af97;
  margin: 0 0 0 10px;
  padding: 5px 15px;
  border: 3px solid #a0af97;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s; }

.mailing__form input[type="submit"]:hover {
  background-color: #edc67e;
  border-color: #edc67e; }

::-webkit-input-placeholder {
  color: #797878; }

.mailing__success-message {
  font-size: 20px;
  font-weight: 700;
  color: #edc67e;
  letter-spacing: 0.05em; }

@media (max-width: 600px) {
  .mailing__form {
    height: 130px;
    padding: 20px 0 0 0; }

  .mailing__form input[type="email"], .mailing__form input[type="submit"] {
    width: 90%;
    margin: 5px 0; }

  .mailing__form input[type="email"] {
    text-align: center; }

  .mailing__success-message {
    padding: 10px 20px 0 20px;
    line-height: 1.5; } }
.shop__content {
  text-align: center;
  margin: 0 0 50px 0; }

.shop__content a {
  text-decoration: none; }

.shop__products {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 60px; }

.shop__product-type {
  width: 300px;
  height: 300px;
  margin: 10px 0; }

.shop__accessories {
  background: url(../images/hay.jpg);
  background-size: cover; }

.shop__cards {
  background: url(../images/card.jpg);
  background-size: cover; }

.shop__pens-pencils {
  background: url(../images/pencil.jpg);
  background-size: cover; }

.shop__product-type--overlay {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  padding: 150px 0 150px 0;
  font-size: 30px;
  color: #a0af97;
  opacity: 0;
  transition: all 0.2s; }

.shop__product-type--overlay:hover {
  opacity: 0.9; }

@media (max-width: 1050px) {
  .shop__products {
    margin: 0 20px; } }
@media (max-width: 950px) {
  .shop__product-type, .shop__product-type--overlay {
    width: 250px;
    height: 250px; }

  .shop__product-type--overlay {
    padding: 125px 0 125px 0; } }
@media (max-width: 800px) {
  .shop__product-type, .shop__product-type--overlay {
    width: 200px;
    height: 200px; }

  .shop__product-type--overlay {
    padding: 100px 0 100px 0;
    font-size: 24px; } }
@media (max-width: 700px) {
  .shop__products {
    flex-wrap: wrap; }

  .shop__product-type, .shop__product-type--overlay {
    width: 500px;
    height: 300px; }

  .shop__product-type--overlay {
    padding: 150px 0 150px 0;
    font-size: 30px; } }
.about__wrapper {
  height: 450px;
  text-align: center;
  background-color: #f4f3f3; }

.about__content {
  width: 50%; }

.about__content a {
  text-decoration: none; }

.about__content--primary {
  float: left;
  padding: 0 50px 0 50px; }

.about__content--secondary {
  float: right;
  margin: 100px 0 0 0; }

.about__heading {
  margin: 60px 0 20px 0; }

.about__text {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.5; }

.about__text span {
  color: #a0af97;
  letter-spacing: 0.1em; }

.about__link, .about__link--back {
  width: 350px;
  background-color: #a0af97;
  padding: 10px 0;
  margin: 20px auto;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.4s; }

.about__link--back {
  background-color: #edc67e;
  transition: all 0; }

.about__link:hover {
  -webkit-animation: quickzoom ease-in-out 0.3s;
  background-color: #edc67e; }

@media (max-width: 1050px) {
  .about__content {
    position: relative; }

  .about__content, .about__links {
    float: none;
    width: 100%; }

  .about__links {
    margin-top: 60px; }

  .about__link {
    display: inline;
    padding: 10px 60px;
    margin: 0 20px; }

  .about__link--back {
    width: 100%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -70px;
    left: 50%;
    background-color: #f4f3f3;
    color: #a0af97;
    border-bottom: 3px solid #a0af97; }

  .about__link--back:hover {
    color: #edc67e; } }
@media (max-width: 800px) {
  .about__wrapper {
    height: 100%; }

  .about__heading {
    margin-top: 20px; }

  .about__content {
    padding-bottom: 0; }

  .about__content--primary {
    padding-bottom: 50px; }

  .about__content--secondary {
    margin-top: 0; }

  .about__link {
    display: block;
    margin: 10px auto;
    width: 80%; }

  .about__link--back {
    top: -35px; } }
.contact__content {
  height: 600px;
  text-align: center;
  padding: 20px 0; }

.contact__info {
  width: 50%;
  float: left;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.05em; }

.contact__email {
  margin-top: 60px;
  letter-spacing: 0.05em; }

.contact__email--image-hover {
  -webkit-animation: swing infinite 0.5s; }

.contact__email--fill-hover {
  fill: #edc67e; }

.contact__email--text {
  margin: 20px 0 0 0; }

.contact__email--link {
  color: #a0af97;
  text-decoration: none; }

.contact__map {
  width: 50%;
  float: left;
  margin: 50px 0 0 0; }

@media (max-width: 1050px) {
  .contact__info, .contact__map {
    float: none;
    width: 100%; }

  .contact__content {
    height: 100%; }

  .contact__heading {
    margin-top: 0; }

  .contact__info {
    width: 100%; }

  .contact__email--text {
    margin: 0 0 20px 0; }

  .contact__map iframe {
    width: 80%; } }
@media (max-width: 800px) {
  .contact__heading {
    margin-top: 0; } }
.accessories__content {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }

.accessories__product {
  width: 250px;
  height: 250px;
  cursor: pointer; }

.accessories__product--one {
  background: url(../images/card.jpg);
  background-size: cover; }

.accessories__product--two {
  background: url(../images/hay.jpg);
  background-size: cover; }

.accessories__product--three {
  background: url(../images/pencil.jpg);
  background-size: cover; }

.accessories__product--overlay {
  padding: 125px 0 125px 0;
  background-color: #ffffff;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: all 0.2s; }

.accessories__product--overlay h2 {
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #a0af97;
  border-bottom: 3px dashed #edc67e; }

.accessories__product--overlay:hover {
  opacity: 0.9; }

@media (max-width: 950px) {
  .accessories__content {
    padding: 40px 20px; } }
@media (max-width: 800px) {
  .accessories__product {
    width: 200px;
    height: 200px; } }
@media (max-width: 700px) {
  .accessories__content {
    flex-wrap: wrap; }

  .accessories__product {
    margin-bottom: 20px; }

  .accessories__product, .accessories__product--overlay {
    width: 500px;
    height: 300px; }

  .accessories__product--overlay {
    padding: 150px 0 150px 0; } }
html, body {
  overflow-x: hidden; }

body {
  background-color: #ffffff;
  font-family: "josefin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #797878; }

.container {
  width: 980px;
  margin: 0 auto; }

footer {
  height: 100px;
  border-top: 3px solid #edc67e;
  text-align: center; }

@media (max-width: 1050px) {
  .container {
    float: none;
    width: 100%; } }
@media (max-width: 800px) {
  footer {
    height: 50px; } }

/*# sourceMappingURL=main.css.map */
