@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

/* general */

@font-face {
	font-family: 'josefin';
	src: url('../fonts/JosefinSans-Regular.ttf');
}


body {
	background-color: #fff;
	font-family: 'josefin';
	font-size: 16px;
	font-weight: 400;
	color: #797878;
}


.main__subheading {
	font-size: 30px;
	letter-spacing: 0.1em;
	color: #A0AF96;
	border-bottom: dashed 3px #E9C28E;
	display: inline-block;
	margin: 40px auto;
}


.container {
	width: 980px;
	margin: 0 auto;
}



/* animations */

@-webkit-keyframes quickzoom {
	0% {
		-webkit-transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes nudge {
	0% {
		-webkit-transform: translateY(7px);
	}

	/*50% {
		-webkit-transform: translateY(px);
	}*/

	100% {
		-webkit-transform: translateY(0px);
	}
}


@-webkit-keyframes swing {
	0% {
		-webkit-transform: rotate(-10deg);
	}

	50% {
		-webkit-transform: rotate(10deg);
	}

	100% {
		-webkit-transform: rotate(-10deg);
	}
}


/* header */

.header__content {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}


.header__content--scroll {
	border-bottom: solid 3px #ECE9E9;
	background-color: #F4F4F4;
}


h1 {
	text-align: center;
	padding: 20px 0;
	letter-spacing: 0.15em;
	font-size: 30px;
	font-weight: 700;
	color: #A0AF97;
	background-color: #fefefe;
}

.header__social-icons {
	position: absolute;
	top: 20px;
	left: 20px;
}

.header__social-icons a {
	margin: 0 20px 0 0;
}

.header__social-icons img {
	width: 40px;
	margin: 0 5px;
}

.header__shop-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
}

.header__icons--scroll {
	-webkit-animation: nudge 0.7s;
}


.header__content--shop {
	width: 100%;
	top: 0;
}


.header__content--shop h1 {
	padding: 20px 0 20px 0;
	background-color: #F9F8F8;
}


.header__content a, .header__content--shop a {
	text-decoration: none;
}


.instagram__stroke--scroll, .twitter__stroke--scroll {
	fill: #A0AF96;
}


/* navigation */

.navigation {
	margin: 75px 0 0 0;
	text-align: center;
}

.navigation a {
	text-decoration: none;
	margin: 0 50px 0 50px;
}

.main__navigation {
	background-color: #F9F8F8;
	padding: 20px 0 20px 0;
}

.main__navigation a {
	color: #797878;
	display: inline-block;
	font-size: 18px;
	border-bottom: 2px solid #F9F8F8;
	transition: all 0.1s;
	letter-spacing: 0.1em;
}


.main__navigation a:hover {
	border-bottom: 2px solid #E9C28E;
}

.main__navigation--shop {
	width: 300px;
	background-color: #F9F8F8;
	position: absolute;
	top: -90px;
	right: 80px;
}

.main__navigation--shop a {
	margin: 0 30px;
}


.accessories__navigation {
	margin: 30px 0 0 0;
	border-bottom: 3px solid #E9C28E;
}


/* feature__content */

.feature__content {
	height: 400px;
}


.feature__img {
	height: 100%;
	background: url(../images/pic.jpg);
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}


/* mailing__content */

.mailing__join-message {
	height: 60px;
	border-bottom: solid 3px #98AE99;
	border-top: solid 3px #ECE9E9;
	text-align: center;
	letter-spacing: 0.03em;
}

.mailing__join-text {
	line-height: 60px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s;
	color: #797878;
}

.mailing__join-text:hover, .mailing__join-text--clicked {
	color: #97AE98;
}


.mailing__form {
	height: 110px;
	border-bottom: solid 3px #98AE99;
	text-align: center;
	padding: 40px 0 0 0;
	background-color: #F9F8F8;
	display: none;
}


.mailing__form input[type="email"] {
	border: 5px solid #fff;
	width: 400px;
	color: #797878;
	padding: 5px;
	background-color: #fff;
	border: 3px solid #98AE99;
	transition: all 0.2s;
}

.mailing__form input[type="email"]:focus, input[type="submit"]:focus {
	outline: 0;
	border-color: #EDC67E;
}

.mailing__form input[type="submit"] {
	background-color: #A0AF96;
	margin: 0 0 0 10px;
	font-family: inherit;
	text-transform: uppercase;
	padding: 5px 15px;
	border: 3px solid #98AE99;
	color: #ffffff;
	cursor: pointer;
	transition: 0.2s;
}

.mailing__form input[type="submit"]:hover {
	background-color: #EDC67E;
	border-color: #EDC67E;
}

::-webkit-input-placeholder {
	color: #797878;
}


.mailing__success-message {
	color: #EAC38A;
	font-weight: 700;
	font-size: 20px;
}


/* shop__content */

.shop__content {
	text-align: center;
	margin: 0 0 50px 0;
}

.shop__content a {
	text-decoration: none;
}

.shop__products {
	margin: 0 60px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.shop__product-type {
	width: 300px;
	height: 300px;
	margin: 10px 0;
}

.shop__accessories {
	background: url(../images/hay.jpg);
  background-size: cover;
}

.shop__cards {
	background: url(../images/card.jpg);
	background-size: cover;
}

.shop__pens-pencils {
	background: url(../images/pencil.jpg);
	background-size: cover;
}

.shop__product-type--overlay {
	width: 300px;
	height: 300px;
	padding: 150px 0 150px 0;
	color: #A0AF96;
	font-size: 30px;
	text-align: center;
	background-color: #fff;
	opacity: 0;
	transition: all 0.2s;
}

.shop__product-type--overlay:hover {
	opacity: 1;
}


/* about__content */

.about__wrapper {
	height: 430px;
	text-align: center;
	background-color: #F4F3F3;
}

.about__content {
	width: 50%;
}

.about__content--primary {
	float: left;
	text-align: center;
	padding: 0 50px 0 50px;
}

.about__content--secondary {
	float: right;
	margin-top: 100px;
	height: 400px;
}

.about__heading {
	margin: 60px auto 20px auto;
}

.about__text {
	line-height: 1.5;
	font-size: 20px;
}

.about__text span {
	color: #A0AF95;
	letter-spacing: 0.1em;
}


.about__link {
	font-size: 20px;
	color: #fff;
	background-color: #A0AF96;
	padding: 10px 0;
	width: 350px;
	margin: 20px auto;
	transition: all 0.4s;
	cursor: pointer;
}


.about__link:hover {
	-webkit-animation: quickzoom ease-in-out 0.3s;
	background-color: #EAC38A;
}

.about__link--back {
	text-decoration: none;
}

.about__link--back p {
	font-size: 20px;
	color: #fff;
	background-color: #EAC38A;
	padding: 10px 0;
	width: 350px;
	margin: 20px auto;
}


/* contact__content */

.contact__content {
	height: 600px;
	text-align: center;
	padding: 20px 0;
}

.contact__info {
	width: 50%;
	float: left;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5;
}

.contact__email {
	margin-top: 60px;
}


.contact__email--image-hover {
	-webkit-animation: swing infinite 0.5s;
	fill: #ECC583;
}

.contact__email--fill-hover {
	fill: #ECC583;
}

.contact__email--text {
	margin: 20px 0 0 0;
}

.contact__email--link {
	color: #A0AF96;
	font-weight: 400;
	text-decoration: none;
}

.contact__map {
	width: 50%;
	float: left;
}

/* footer */

footer {
	height: 100px;
	border-top: solid 3px #EBC487;
	text-align: center;
}



/* accessories.html */

/* accessories__navigation */

.accessories__link, .shop__other {
	text-transform: uppercase;
	color: #A0AF96;
	letter-spacing: 0.1em;
	font-size: 14px;
	transition: all 0.4s;
}

.accessories__link:hover {
	color: #E9C28E;
}

.shop__other {
	float: right;
	font-weight: 700;
}

.selected {
	color: #E9C28E;
}

/* accessories__content */

.accessories__content {
	padding: 40px;
	display: flex;
	justify-content: space-around;;
	flex-direction: row;
}

/* accessories__product */

.accessories__product {
	width: 250px;
	height: 250px;
}

.accessories__product--one {
	background: url(../images/card.jpg);
	background-size: cover;
}

.accessories__product--two {
	background: url(../images/hay.jpg);
	background-size: cover;
}

.accessories__product--three {
	background: url(../images/pencil.jpg);
	background-size: cover;
}


.accessories__product--overlay {
	padding: 125px 0 125px 0;
	background-color: #fff;
	text-align: center;
	opacity: 0;
	transition: all 0.2s;
	font-size: 18px;
}

.accessories__product--overlay h2 {
	font-size: 24px;
	color: #A0AF96;
	border-bottom: 3px dashed #EAC38A;
	display: inline-block;
	margin-bottom: 20px;
}

.accessories__product--overlay:hover {
	opacity: 0.9;
}


/* media queries */

@media (max-width: 1050px) {
	.header__content {
		position: static;
	}

	.header__content--scroll {
		border-bottom: 0;
	}

	.navigation {
		margin-top: 0;
	}

	.accessories__navigation {
		margin-top: 30px;
	}

	.main__navigation--shop {
		display: none;
	}

	.feature__img {
		background-attachment: scroll;
	}

	.shop__products {
		flex-wrap: nowrap;
		margin: 0 20px;
	}

	.about__content--primary, .about__content--secondary, .contact__info, .contact__map, .container {
		float: none;
		width: 100%;
	}

	.about__content--primary {
		margin-top: 100px;
	}

	.about__content--secondary {
		height: 0;
	}

	.about__wrapper {
		position: relative;
	}

	.about__links {
		position: absolute;
		top: 40px;
		width: 70%;
		margin-left: 15%;
		padding-top: 20px;
		margin-top: 30px;
	}

	.about__link {
		display: inline;
		padding: 10px 30px;
		margin: 0 20px;
	}

	.about__link--back p {
		background-color: #F4F3F3;
		color: #A0AF95;
		border-bottom: 3px dashed #EAC38A;
		padding: 0;
		margin: 0 45%;
		width: 150px;
		position: absolute;
		transform: translate(-50px, -50px);
	}

	.contact__content {
		height: 100%;
	}

	.contact__heading {
		margin-top: 0;
	}

	.contact__info {
		width: 100%;
	}

	.contact__email--text {
		margin: 0 0 20px 0;
	}

	.contact__map iframe {
		width: 80%;
	}
}


@media (max-width: 950px) {
	.shop__product-type, .shop__product-type--overlay {
		width: 250px;
		height: 250px;
	}

	.accessories__navigation {
		margin-top: 0;
	}

	.accessories__navigation a {
		display: block;
		padding: 20px 0;
		margin: 0;
	}

	.shop__other {
		float: none;
	}

	.accessories__content {
		padding: 40px 20px;
	}
}




@media (max-width: 800px) {
	.header__social-icons svg, .header__shop-icon svg{
		width: 25px;
	}

	.main__navigation {
		padding: 0;
	}

	.main__navigation a {
		display: block;
		margin: 0;
		padding: 20px 0;
		border: none;
	}

	.main__navigation a:hover {
		border: none;
		background-color: #F0F0F0;
	}

	.main__subheading {
		margin: 20px 0;
	}

	.contact__heading {
		margin-top: 0;
	}


	.feature__img {
		background-position: right;
	}


	.shop__product-type, .shop__product-type--overlay, .accessories__product {
		width: 200px;
		height: 200px;
	}

	.about__wrapper {
		height: 100%;
	}

	.about__heading {
		margin-top: 150px;
	}

	.about__links {
		padding-top: 10px;
		margin-top: 0;
	}

	.about__link {
		display: block;
		margin: 10px auto;
		width: 100%;
	}

	.about__link--back p {
		padding-top: 20px;
	}

	footer {
		height: 50px;
	}
}



@media (max-width: 700px) {
	.shop__products, .accessories__content {
		flex-wrap: wrap;
	}

	.shop__product-type, .shop__product-type--overlay, .accessories__product {
		width: 500px;
		height: 300px;
	}

	.accessories__product {
		margin-bottom: 20px;
	}
}


@media (max-width: 600px) {
	.header__social-icons, .header__shop-icon {
		display: none;
	}

	.mailing__form {
		height: 130px;
		padding: 20px 0 0 0;
	}

	.mailing__form input[type="email"], .mailing__form input[type="submit"] {
		width: 90%;
		margin: 5px 0;
	}

	.mailing__success-message {
		padding: 10px 20px 0 20px;
		line-height: 1.5;
	}
}
