// tools
@import "tools/bourbon/bourbon";


// base
@import "base/vars";
@import "base/type";


// module
@import "modules/animation";
@import "modules/header";
@import "modules/navigation";
@import "modules/feature";
@import "modules/mailing";
@import "modules/product-type";
@import "modules/about";
@import "modules/contact";


body {
	background-color: $quite-nice-background;
	font-family: $quite-nice-font;
	font-size: $quite-nice-font-size;
	font-weight: $quite-nice-font-weight;
	letter-spacing: $quite-nice-letter-spacing;
	color: $quite-nice-grey;
}


.container {
	width: 980px;
	margin: 0 auto;
}

footer {
	height: 100px;
	border-top: $quite-nice-border $quite-nice-yellow;
	text-align: center;
}
