// tools
@import "tools/bourbon/bourbon";


// base
@import "base/vars";
@import "base/type";


// module
@import "modules/animation";
@import "modules/header";
@import "modules/navigation";
// @import "modules/about";


body {
	background-color: $quite-nice-background;
	font-family: $quite-nice-font;
	font-size: $quite-nice-font-size;
	font-weight: $quite-nice-font-weight;
	color: $quite-nice-grey;
}


.container {
	width: 980px;
	margin: 0 auto;
}
