@font-face {
	font-family: 'josefin';
	src: url('../fonts/josefinsans-regular.eot');
	src: url('../fonts/josefinsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-regular.woff') format('woff'),
         url('../fonts/josefinsans-regular.ttf') format('truetype'),
         url('../fonts/josefinsans-regular.svg#josefinsans-regular') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'josefin';
	src: url('../fonts/josefinsans-bold.eot');
	src: url('../fonts/josefinsans-bold.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/josefinsans-bold.woff') format('woff'),
				 url('../fonts/josefinsans-bold.ttf') format('truetype'),
				 url('../fonts/josefinsans-bold.svg#josefinsans-regular') format('svg');
	font-weight: bold;
}

.main__subheading {
	display: inline-block;
	margin: 40px auto;
	font-size: 30px;
	letter-spacing: 0.1em;
	color: $quite-nice-green;
	border-bottom: $quite-nice-dashedborder $quite-nice-yellow;
}


@media (max-width: 800px) {
	.main__subheading {
		margin: 20px 0;
	}
}
