$quite-nice-background: #ffffff;
$quite-nice-font: 'josefin', sans-serif;
$quite-nice-font-size: 16px;
$quite-nice-font-weight: 400;
$quite-nice-letter-spacing: 0.1em;
$quite-nice-grey: #797878;
$quite-nice-green: #a0af97;
$quite-nice-yellow: #edc67e;
$quite-nice-border: 3px solid;
$quite-nice-dashedborder: 3px dashed;
