.feature__content {
	height: 400px;
}


.feature__img {
	height: 100%;
	background: url(../images/pic.jpg);
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}


@media (max-width: 1050px) {
	.feature__img {
		background-attachment: scroll;
	}
}

@media (max-width: 800px) {
	.feature__img {
		background-position: right;
	}
}
